<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<body>
    <section th:fragment="interceptor">
        <div class="alert alert-success" th:if="${tiempoTranscurrido != null}">
            <span th:text="'Tiempo Transcurrido: ' + ${tiempoTranscurrido} + ' en milisegundos'"></span>
        </div>
    </section>
</body>
</html>